<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="jmxClient" class="com.gksoftware.ozakhlivny.phonebook_client.PhonebookClient" />

   <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
      <property name="assembler" ref="assembler"/>
      <property name="namingStrategy" ref="namingStrategy"/>
      <property name="autodetect" value="true"/>
   </bean>

   <bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

   <bean id="assembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
       <property name="attributeSource" ref="jmxAttributeSource"/>
   </bean>

   <bean id="namingStrategy" class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
       <property name="attributeSource" ref="jmxAttributeSource"/>
   </bean>

   <bean id="rmiProxy" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
       <property name="serviceInterface" value="gk.phonebook.facade.service.IPhonebookService"/>
       <property name="serviceUrl" value="rmi://localhost:1099/gk.phonebook.facade.service.IPhonebookService"/>
   </bean>
</beans>